@charset "ISO-8859-1";

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  
  height: 100px; 
  border-color: black;
  background-color: black; 

}

div footer{
	
	  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  
  height: 100px; 
  border-color: black;
  background-color: black; 
	
	
}