@charset "ISO-8859-1";
body{
	background-color: white;
    
		margin-top: 100px;
		margin-right: 40px;
		margin-bottom: 10px;
		margin-left: 70px;

	
	



}


.btnordini{
	position: absolute;
	top: 111px;
	right: 577px;
	
	
	
}